.portfolio-div{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap; 
    width: 100%; 
    height: 100vh;
    background-color: grey;  
    opacity: 0.9;
}

.project1{
    width: 50%; 
    height: 50vh;
    border: 0.3px solid black;
}
.project2{
    width: 50%; 
    height: 50vh;
    border: 0.3px solid black;
}
.project3{
    width: 50%; 
    height: 50vh;
    border: 0.3px solid black; 
}
.project4{
    width: 50%; 
    height: 50vh;
    border: 0.3px solid black; 
   
}

.inner-div1{
    background-color: rgb(255, 198, 203);
    width: 96.5%;
    height: 95%;
    bottom: 305px;
    left: 8px;
    border: 5px solid rgb(136, 17, 8);
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

.inner-div2{
    background-color: #CCCFBC;
    width: 96.5%;
    height: 95%;
    bottom: -11px;
    right: -12px;
    border: 5px solid #87942A;
    position: relative;
    opacity: 0.8;
    z-index: 1;
}

.inner-div3{
    background-color: rgb(169, 175, 135);
    width: 96.5%;
    height: 95%;
    top: 9px;
    left: 8px;
    border: 5px solid rgb(82, 90, 22);
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

.inner-div4{
    background-color: #FCE6E8;
    width: 96.5%;
    height: 95%;
    top: 9px;
    right: -11px;
    border: 5px solid #C8342A;
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

.project-name1{ 
    margin-left: 122px;
    margin-top: 57px;
    width: 45%;
    height: 57%;
    display: block;
    opacity: 1;
    z-index: 1;
}

.project-name2{ 
    margin-left: 119px;
    margin-top: 90px;
    width: 51%;
    height: 30%;
    display: block;
    opacity: 1;
    z-index: 1;
}

.project-name3{ 
    margin-left: 96px;
    margin-top: 100px;
    width: 59%;
    height: 28%;
    display: block;
    opacity: 1;
    z-index: 1;
}

.project-name4{ 
    margin-left: 90px;
    margin-top: 103px;
    width: 65%;
    height: 33%;
    display: block;
    opacity: 1;
    z-index: 1;
}

.display1{
    position: relative;
    left: 50%;
    width: 100%;
    height: 315px;
    top: 156px;
    z-index: 2;
    visibility: hidden;
}
