.footer {
    min-height: 50px;
    min-width: 100%;
    background-image: url("../../media/transparent2.jpg");
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: black;
  }
  
  .team-name {
    position: relative;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
  }
  
  .my-name {
    color: rgb(84, 39, 78);
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }
  
  .team-name:hover p {
    color: white;
  }
  
  .team-name:hover {
    color: white;
  }
  
  .footer-btn {
    position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
  
  }
  
  .footer-btn-link {
    color: #190a31;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background: transparent; 
  }
  
  .footer-btn-link:hover {
    color: white;
  }
  