.contact-div{
    background-image: url("../../media/succluent.jpg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;  
    height: 100vh;
    
}

.form-div{
    width: 77%;
    height: 80%;
    position: relative;
    top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.form-control{
    resize: none; 
    opacity: 0.8; 
}


.contact-form-label {
    font-family: "Lato", sans-serif;
    margin-top: 54px;
    font-weight: 300;
    font-size: 20px;
    text-shadow: 1px 1px black; 
    color: #FAEBD8;
    margin-left: 29px;
}

#email {
    width: 50%;
    margin-left: 29px; 
}

#message {
    width: 85%; 
    margin-left: 29px; 
}

.contact-header {
    font-family: 'Dancing Script', cursive;
    margin-top: 10px;
    font-size: 35px;
    font-weight: 400;
    width: 49%;
    color: #FAEBD8;
    text-shadow: 1px 1px black; 
    text-align: start;
    margin-left: auto;
}

.submit-btn{
    width: 20%; 
    height: 10%;
    width: 20%;
    height: 10%;
    margin-left: 36%;
    margin-top: 5%;
    border: 1px solid white;
    border-radius: 25px;
    background: transparent;
    color: #FAEBD8;
   
}

input[type="button"]{
    outline:none;
 }

.submit-btn:hover {
    background: rgb(121, 121, 199); 
}