.contact-div{
    background-image: url("../../media/chicago3.jpeg"); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: 100%;  
    height: 628px;
}

.form-div{
    border: 2px solid white; 
    background: transparent; 
    border-radius: 25px; 
    width: 65%; 
    height: 65%;
    position: relative;
    top: 140px; 
    margin-left: auto; 
    margin-right: auto; 
}

.form-control{
    resize: none; 
    margin-left: 10px; 
    opacity: 0.85; 
}


.contact-form-label {
    font-family: "Lato", sans-serif;
    margin-top: 20px; 
    font-weight: 300;
    font-size: 18px; 
    color: #FAEBD8;
}

#email {
    width: 50%; 
}

#message {
    width: 90%; 
}

.contact-header {
    font-family: "Lato", sans-serif;
    margin-top: 10px; 
    font-size: 28px; 
    font-weight: 400;
    background: white; 
    opacity: 0.8;
    width: 50%; 
    color: BLACK; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;  
    border-radius: 25px; 
}