.navbar {
    background-image: url('../../media/transparent2.jpg');
    padding: none;
    min-height: 100px;
}

.name-header{
    color: white; 
    background: url("../../media/running-water2.gif");  
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: none;  
    font-size: 55px; 
    font-weight: bolder; 
    font-family: 'Playfair Display', serif;
}

.img-logo {
    height: 100px;
}

.btn-nav {
    margin-left: 15px;
    margin-right: 10px;
    font-weight: 300;
    color: #35706C
}

.btn-nav:hover {
    color: #190a31;
    box-shadow: #35706C 0 5px 0;
}

.navbar-toggler {
    background-color: #AFB2C4;
    border-style: solid;
    border-width: 3px;
    margin-right: 15px; 
}

.nav-container {
    border-bottom: 1px black solid;
}
